<div class="container">
  <div class="jumbotron">
    <div class="panel panel-primary">
      <div class="panel-heading">
          <strong>Record Audio By Reading Below Text</strong>
      </div>
      <div class="panel-body">
          <button class="btn btn-success" (click)="startRecording()"> Record </button>
          <button class="btn btn-danger" (click)="stopRecording()"> Stop</button>
          <button class="btn btn-primary" [disabled]="uploading" (click)="uploadAudio(userTextForAudio[0].id)">Upload</button>
          <button class="btn btn-primary" (click)="download()"> Download</button>
      </div>
      <div class="panel-body">
          <br>
          <p>{{userTextForAudio[0].text}}</p>
      </div>
      <div class="panel-body">
          <br>
          <h5>Play recorded text</h5>
          <audio #audio class="video"></audio>
      </div>      
    </div>
  </div>
  
  <div class="jumbotron">
    <h3>List of Recorded Audios</h3>
    <table class="table">
      <tr>
        <th>Audio Number</th>
        <th>Audio FIle</th>
      </tr>
      <tr *ngFor="let audioFile of userAudios.userDetails.audios">        
        <td>
          <audio controls>
            <source src="http://13.250.77.198:8083/{{audioFile.path}}" type="audio/ogg">
            <source src="http://13.250.77.198:8083/{{audioFile.path}}" type="audio/wav">
          </audio>
        </td>
        <td>{{audioFile.filename}}</td>
      </tr>
    </table>
  </div>
  
</div>