<div class="row">
  <div class="panel panel-primary">
    <div class="panel-heading">
        <strong>Record Audio</strong>
    </div>
    <div class="panel-body">
        <button md-raised-button color="primary" (click)="startRecording()"> Record </button>
        <button md-raised-button color="primary" (click)="stopRecording()"> Stop</button>
        <button md-raised-button color="primary" (click)="uploadAudio()">Upload</button>
        <button md-raised-button color="primary" (click)="download()"> Download</button>
    </div>
  </div>
</div>
<audio #audio class="video"></audio>
<div class="row">
  <ul class="">
      <li *ngFor="let audioFile of userAudios.userDetails.audios">
        <span class="badge">{{audioFile.fieldname}}</span> {{audioFile.path}}
      </li>
    </ul>
</div>


